*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #18081a;
}

.list-style {
  color: #e09be8;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
}

h1 {
  color: #e09be8;
  font-family: sans-serif;
  text-align: center;
  z-index: 2;
  left: 250px;
}
#name {
  font-family: sans-serif;
  color: #e09be8;
  position: absolute;
  top: 140px;
  left: 20px;
  
}

h3 {
  font-family: sans-serif;
  color: #e09be8;
  position: absolute;
  z-index: 7;
  top: 500px;
}

.link-style {
  text-decoration: none;
  color: #e09be8;
}

h4,
.em-style {
  color: #e09be8;
}

.paragrafos {
  width: 80%;
  height: 300px;
  overflow: auto;
}
#purple-moon {
  position: absolute;
  width: auto;
  z-index: 1;
}

#indice-list {
  position: absolute;
  z-index: 3;
  left: 30px;
  top: 50px;

}

#foto-feliz {
  position: absolute;
  z-index: 5;
  top: 180px;
  left: 10px;
  border-radius: 50%;
}

#description {
  position: absolute;
  z-index: 6;
  top: 350px;
  margin: auto;
  left: 10px
}

#skill-list {
  position: absolute;
  z-index: 7;
  top: 540px;
  left: 45px;
}

.header{
  background-image: url(background2.jpeg);
  background-size: cover;
}

#skill-indice{
  left: 10px;
}