*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #18081a;
  
}

.list-style  {
  color: #e09be8;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
}

h1 {
  color: #e09be8;
  font-family: sans-serif;
  text-align: center;
  z-index: 2;
  left: 250px;
}
#name {
  font-family: sans-serif;
  color: #e09be8;
  position: absolute;
  top: 140px;
  left: 20px;
  
}

h3 {
  font-family: sans-serif;
  color: #e09be8;
  position: absolute;
  z-index: 7;
  top: 500px;
}

.link-style{
    text-decoration: none;
    color: #e09be8;
    border: 0px solid #5E4161; 
    background: #5E4161;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-size: 20px;
    padding: 5px 10px; 
    font-family: sans-serif;
    position: relative;
    text-align: center;
    top: 245px;
    
  }


.indice-list-style {
  margin: 10px;
  display: inline;
}



a:hover{
  font-size: 22px;
}

.em-style {
  color: #e09be8;
  width: auto;
}

.paragrafos {
  width: 80%;
  height: 300px;
  overflow: auto;
}

#indice-list {
  position:relative;
  top: 50px;
  right:500px;
  float:right;
}

#foto-feliz {
  position: absolute;
  z-index: 5;
  top: 180px;
  left: 10px;
  border-radius: 50%;
}

#description {
  position:fixed;
  z-index: 6;
  top: 360px;
  margin: auto;
  left: 10px;
  width: 330px;
  font-size: 18px;
}

#skill-list {
  position: absolute;
  z-index: 7;
  top: 540px;
  left: 45px;
}

.header{
  background-image: url(background2.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px;
}


#skill-indice{
  left: 10px;
}